<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi</title>
</head>
<body>
    <h1>FAKE SEARCH NAVER</h1>
    <form action="https://search.naver.com/search.naver">
        <input type="text" name="query">
        <input type="submit">
    </form>
    
     <h1>FAKE SEARCH DAUM</h1>
    <form action="https://search.daum.net/search">
        <input type="text" name="q">
        <input type="submit">
    </form>
    
     <h1>FAKE SEARCH GOOGLE</h1>
    <form action="https://www.google.co.kr/search">
        <input type="text" name="q">
        <input type="submit">
    </form>
</body>
</html>